<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Sistema Educacional
        {% endblock %}
    </title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <header class="topo">

        <div class="logo">
            Sistema Educacional
        </div>

        <nav>

            {% block menu %}
            {% endblock %}

        </nav>

    </header>


    <main class="conteudo">

        {% block content %}
        {% endblock %}

    </main>


    <footer class="rodape">

        <p>
            Sistema Educacional
        </p>

    </footer>

</body>

</html>