<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        Sistema da Instituição
    </title>

</head>

<body>

    <h1>
        Sistema da Instituição de Ensino
    </h1>

    <h2>
        Login
    </h2>

    {% if mensagem %}

        <p>
            {{ mensagem }}
        </p>

    {% endif %}

    <form method="POST">

        <label>
            Login
        </label>

        <br>

        <input
            type="text"
            name="login"
            required
        >

        <br><br>

        <label>
            Senha
        </label>

        <br>

        <input
            type="password"
            name="senha"
            required
        >

        <br><br>

        <button type="submit">
            ENTRAR
        </button>

    </form>

</body>

</html>